
.container {
  margin: auto;
  padding: 20px;
  width: 80%;
}

aside {
  float: left;
  background-color:orange;
  margin: 10px;
}

.firstContact {
  font-family:'Courier New', Courier, monospace;
  font-weight:bold;
  letter-spacing: 5px;
}

.firstContact-one {
  list-style-type: none;
  letter-spacing: 0;
  padding: 5px;
  margin: 5px;
}

img {
  width: 100%;
  height: 380px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    margin:20px;
    font-size: 50px;
}