
.container {
  margin: auto;
  padding: 20px;
  width: 80%;
}

aside {
  float: left;
  background-color:orange
}

p {
  margin: 10px;
  padding: 10px;
}

img {
  padding:10px;
  width: 230px;
  height: 280px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin:20px;
}